{% extends 'chartLayout.html' %}

{% block title %} SEAS | AvailabilityAndCourseOfferingComparison {% endblock  %}

{% block heading %} Availability And Course Offering Comparison {% endblock  %}

{% block content %} 
{% load static %}
<meta id="viewport" name="viewport" content ="width=device-width" />
<link rel="stylesheet" type="text/css" href="{% static 'seas/css/font-awesome.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'seas/css/util.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'seas/css/main.css' %}" />

<form style="text-align: center; width: 1500px;" action="" method="post">
	{% csrf_token %}
	
	<ul class="box-info">
		<li>
			<select name="semester1" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" style="margin-left: 30%;">
				<option selected>Semester 1</option>
				{% for semester in semesterList %}
					<option value = {{semester}} > {{semester}} </option>
				{% endfor %}
			</select>
		</li>
		<li>
			<select name="semester2" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" style="margin-left: 30%;">
				<option selected>Semester 2</option>
				{% for semester in semesterList %}
					<option value = {{semester}} > {{semester}} </option>
				{% endfor %}
			</select>
		</li>
		<li>
			<select name="year" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" style="margin-left: 40%;">
				<option selected>Year</option>
				{% for year in yearList %}
					<option value = {{year}} > {{year}} </option>
				{% endfor %}
			</select>
		</li>
		<li>
			<button class="btn btn-primary btn-lg" style="margin-left: 30%;">
				Compare
			</button>
		</li>
	</ul>


</form>
	<div class="table-data">
		<div class="order"> <h3 style="text-align:center"> Resource Utilization in {{Semester1}} and {{Semester2}} </h3>
			<div>
				<table border="3" cellpadding = "5" cellspacing="5"  style="background-color:#DAEDF4;">
						
					{% for row in table %}
						<tr>
							{% for col in row %}
								<td style="text-align:center">
									{{ col }}
								</td>
							{% endfor %}
						</tr>
					{% endfor %}
					
					
				
				</table>
		
			</div>
		</div>
	</div>

	<div class="table-data">
		<div class="order"> 
			<h3 style="text-align:center"> Resource Utilization in {{Semester1}} and {{Semester2}}</h3>
		</div>
	</div>

	<!-- WRITE CODE HERE TO SHOW CHART -->
	<div class="table-data">
        <div  style="background-color:#0c0c1e;">
            
            <canvas id = 'AvailabilityAndCourseOfferingComparisonChart' width = "1500" height = "600">

            </canvas>

        </div>
		<!-- THIS IS THE JAVASCRIPT THAT WILL CONTROL THE BEHAVIOUR OF THIS CHART ELEMENT -->
		<script>
			const ctx = document.getElementById('AvailabilityAndCourseOfferingComparisonChart')
			
			const datalist = {
				labels: [{% for label in labels %} '{{ label }}', {% endfor %}],
				{% comment %} labels: labels, {% endcomment %}
				datasets: [{
					type: 'bar',
					label: 'IUB Resource',
					backgroundColor: [
					'rgb(54, 162, 235, 1)', //standard blue
				  ],
					{% comment %} borderColor: 'rgb(255, 99, 132)', {% endcomment %}
					data: [{% for value in iub %} {{ value }}, {% endfor %}],
				},{
					type: 'bar',
					label: '{{Semester1}}',
					backgroundColor: [
					'rgb(255, 205, 86, 1)', //yellow
				  ],
					{% comment %} borderColor: 'rgb(255, 99, 132)', {% endcomment %}
					data: [{% for value in datavalues1 %} {{ value }}, {% endfor %}],
				},{
					type: 'bar',
					label: '{{Semester2}}',
					backgroundColor: [
					'rgb(255, 99, 132, 1)', //blush pink
				  ],
					{% comment %} borderColor: 'rgb(255, 99, 132)', {% endcomment %}
					data: [{% for value in datavalues2 %} {{ value }}, {% endfor %}],
				}]
			}
			//Here chart is a constructor and we're passing parameters
			const myChart = new Chart(
				ctx,
				{
					type: 'bar',
					data: datalist,
					options: {}
					}
				  )
		</script>
	


	</div>
	{% comment %} Table Code here {% endcomment %}
	{% comment %} <table border="1" cellpadding = "5" cellspacing="5">
	</table> {% endcomment %}
	

{% endblock %}