{% extends 'chartLayout.html' %}

{% block title %} SEAS | ClassSizeDistribution {% endblock  %}

{% block heading %} Enrollment wise course distribution among the schools {% endblock  %}

{% block content %} 
{% load static %}
<meta id="viewport" name="viewport" content ="width=device-width" />
<link rel="stylesheet" type="text/css" href="{% static 'seas/css/font-awesome.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'seas/css/util.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'seas/css/main.css' %}" />

<form style="text-align: center; width: 330px;" action="" method="post">
	{% csrf_token %}
	
	<div class="container-login100-form-btn" >
		<select name="semester" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" style="margin-left: 6%;">
			<option selected>Semester</option>
			{% for semester in semesterList %}
				<option value = {{semester}} > {{semester}} </option>
			{% endfor %}
		</select>

		<select name="year" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
			<option selected>Year</option>
			{% for year in yearList %}
				<option value = {{year}} > {{year}} </option>
			{% endfor %}
		</select>

		<button class="btn btn-primary btn-lg" style="margin-left: 10%;">
			Generate
		</button>

	</div>
</form>
	<div class="table-data">
		<div class="order"> <h3 style="text-align:center"> {{str}} </h3>
			<div>
				<table border="3" cellpadding = "5" cellspacing="5"  style="background-color:#DAEDF4;">
						
					{% for row in table %}
						<tr>
							{% for col in row %}
								<td style="text-align:center">
									{{ col }}
								</td>
							{% endfor %}
						</tr>
					{% endfor %}
					
					
				
				</table>
		
			</div>
		</div>
	</div>


	<!-- WRITE CODE HERE TO SHOW CHART -->
	<div class="chart-data">
		<div class = "order">
			
			<div>
				<canvas id = 'classSizeDistributionChart' width = "701px" height = "210px">

				</canvas>
		
			</div>
			<!-- THIS IS THE JAVASCRIPT THAT WILL CONTROL THE BEHAVIOUR OF THIS CHART ELEMENT -->
			<script>
				const ctx = document.getElementById('classSizeDistributionChart')

				const labels = Utils.months({count: 7});
				const datalist = {
					labels: labels,
					datasets: [{
						label: 'My First Dataset',
						data: [65, 59, 80, 81, 56, 55, 40],
						backgroundColor: [
						'rgba(255, 99, 132, 0.2)',
						'rgba(255, 159, 64, 0.2)',
						'rgba(255, 205, 86, 0.2)',
						'rgba(75, 192, 192, 0.2)',
						'rgba(54, 162, 235, 0.2)',
						'rgba(153, 102, 255, 0.2)',
						'rgba(201, 203, 207, 0.2)'
						],
						borderColor: [
						'rgb(255, 99, 132)',
						'rgb(255, 159, 64)',
						'rgb(255, 205, 86)',
						'rgb(75, 192, 192)',
						'rgb(54, 162, 235)',
						'rgb(153, 102, 255)',
						'rgb(201, 203, 207)'
						],
						borderWidth: 1
					}]
				};
				//Here chart is a constructor and we're passing parameters
				const myChart = new Chart(
					ctx,
					{
						type: 'bar',
						data: datalist,
						options: {
							scales: {y: {beginAtZero: true}}
							},
						}
  					)
			</script>
		</div>
	</div>
	{% comment %} Table Code here {% endcomment %}
	{% comment %} <table border="1" cellpadding = "5" cellspacing="5">
	</table> {% endcomment %}
	

{% endblock %}