{% extends 'chartLayout.html' %}

{% block title %} SEAS | ClassSizeDistribution {% endblock  %}

{% block heading %} Enrollment wise course distribution among the schools {% endblock  %}

{% block content %} 
	<form method ="post" action="UsageOfTheResources">
		<div>
			<ul class="box-info">
					<li>
						<select name="semester" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
							<option selected>Semester</option>
							<option value="1">Summer</option>
							<option value="2">Spring</option>
							<option value="3">Autumn</option>
						</select>
					</li>
					<li>
						<select name="year" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
							<option selected>Year</option>
							<option value="1">2009</option>
							<option value="2">2010</option>
							<option value="3">2011</option>
							<option value="4">2012</option>
							<option value="5">2013</option>
							<option value="6">2014</option>
							<option value="7">2015</option>
							<option value="8">2016</option>
							<option value="9">2017</option>
							<option value="10">2018</option>
							<option value="11">2019</option>
							<option value="12">2020</option>
							<option value="13">2021</option>
						</select>
					</li>
					<li>
						<button type="button" class="btn btn-primary btn-lg" >	Generate	</button>
					</li> 
			</ul>
		</div>
	</form>


	<!-- WRITE CODE HERE TO SHOW TABLE -->
	<div class="table-data">
		<div class="order">
			<div>
				<table>
					<tr>
						
						{% for i in colLabel %}
							<td> {{i}} </td>
						{% endfor %}
						
					</tr>
					
				
				</table>
		
			</div>
		</div>
	</div>


	<!-- WRITE CODE HERE TO SHOW CHART -->
	<div class="table-data">
		<div class = "order">
			
			<div>
				
		
			</div>
		</div>
	</div>

	{% comment %} Table Code here {% endcomment %}
	{% comment %} <table border="1" cellpadding = "5" cellspacing="5">
	</table> {% endcomment %}
	

{% endblock %}