{% extends 'chartLayout.html' %}

{% block title %} SEAS | ClassSizeDistribution {% endblock  %}

{% block heading %} Enrollment wise course distribution among the schools {% endblock  %}

{% block content %} 
{% load static %}
<meta id="viewport" name="viewport" content ="width=device-width" />
<link rel="stylesheet" type="text/css" href="{% static 'seas/css/font-awesome.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'seas/css/util.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'seas/css/main.css' %}" />

<form style="text-align: center; width: 330px;" action="" method="post">
	{% csrf_token %}
	
	<div class="container-login100-form-btn" >
		<select name="semester" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
			<option selected>Semester</option>
			<option value="Summer">Summer</option>
			<option value="Spring">Spring</option>
			<option value="Autumn">Autumn</option>
		</select>
		<select name="year" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
			<option selected>Year</option>
			<option value="2009">2009</option>
			<option value="2010">2010</option>
			<option value="2011">2011</option>
			<option value="2012">2012</option>
			<option value="2013">2013</option>
			<option value="2014">2014</option>
			<option value="2015">2015</option>
			<option value="2016">2016</option>
			<option value="2017">2017</option>
			<option value="2018">2018</option>
			<option value="2019">2019</option>
			<option value="2020">2020</option>
			<option value="2021">2021</option>
		</select>
		<button class="login100-form-btn">
			Generate
		</button>
	</div>
</form>
	<div class="table-data">
		<div class="order">
			<div>
				<table>
					<tr>
						
						{% for i in colLabel %}
							<td> {{i}} </td>
						{% endfor %}
						
					</tr>
					
				
				</table>
		
			</div>
		</div>
	</div>


	<!-- WRITE CODE HERE TO SHOW CHART -->
	<div class="table-data">
		<div class = "order">
			
			<div>
				
		
			</div>
		</div>
	</div>
	{% comment %} Table Code here {% endcomment %}
	{% comment %} <table border="1" cellpadding = "5" cellspacing="5">
	</table> {% endcomment %}
	

{% endblock %}