{% extends 'chartLayout.html' %}

{% block title %} SEAS | ClassSizeRequirement {% endblock  %}

{% block heading %} Classroom requirement as per course offering (Summary) {% endblock  %}

{% block content %} 
{% load static %}
<meta id="viewport" name="viewport" content ="width=device-width" />
<link rel="stylesheet" type="text/css" href="{% static 'seas/css/font-awesome.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'seas/css/util.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'seas/css/main.css' %}" />

<form style="text-align: center; width: 330px;" action="" method="post">
	{% csrf_token %}
	
	<div class="container-login100-form-btn" >
		<select name="semester" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" style="margin-left: 6%;">
			<option selected>Semester</option>
			{% for semester in semesterList %}
				<option value = {{semester}} > {{semester}} </option>
			{% endfor %}
		</select>

		<select name="year" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
			<option selected>Year</option>
			{% for year in yearList %}
				<option value = {{year}} > {{year}} </option>
			{% endfor %}
		</select>

		<button class="btn btn-primary btn-lg" style="margin-left: 10%;">
			Generate
		</button>
		
	</div>
</form>
	<div class="table-data"> 
		<div class="order"> <h3> {{str}} </h3>
			<div> 
				<table border="3" cellpadding = "5" cellspacing="5"  style="background-color:#DAEDF4;">
					
					{% for row in table %}
						<tr>
							{% for col in row %}
								<td style="text-align:center">
									{{ col }}
								</td>
							{% endfor %}
						</tr>
					{% endfor %}
					
					
				
				</table>
		
			</div>
		</div>
	</div>

	
	<!-- WRITE CODE HERE TO SHOW CHART (Zannat started)-->
	<div class="table-data">
		
			<div>
				<h3>Class Size 6 requirement ( {{str}} )</h3>
				<canvas id = 'classSizeRequirementChart' width = "725" height = "600">

				</canvas>
		
			</div>
			<!-- THIS IS THE JAVASCRIPT THAT WILL CONTROL THE BEHAVIOUR OF THIS CHART ELEMENT -->
			<script>
				const ctx = document.getElementById('classSizeRequirementChart')
				
				const datalist = {
					labels: [{% for label in labels %} '{{ label }}', {% endfor %}],
					{% comment %} labels: labels, {% endcomment %}
					datasets: [{
						label: 'Class Size Requirement',
						backgroundColor: [
						'rgb(255, 99, 132)',
						'rgb(54, 162, 235)',
						'rgb(255, 205, 86)',
						'rgb(226, 78, 66)',
						'rgb(107,142,35)', //papaya
						'rgb(233, 128, 0)', //mustard
						'rgb(238,130,238)', //aqua
						'rgb(0,206,209)' //blush pink
						
					  ],
						{% comment %} borderColor: 'rgb(255, 99, 132)', {% endcomment %}
						data: [{% for value in datavalues %} {{ value }}, {% endfor %}],
					}]
				}
				//Here chart is a constructor and we're passing parameters
				const myChart = new Chart(
					ctx,
					{
						type: 'pie',
						data: datalist,
						options: {}
						}
  					)
			</script>
		
	
	<!-- (Zannat ended edition)-->
	
		
		<div>
			<h3>Class Size 7 requirement ( {{str}} )</h3>
			<canvas id = 'classSize7RequirementChart' width = "725" height = "600">

			</canvas>
	
		</div>
		<!-- THIS IS THE JAVASCRIPT THAT WILL CONTROL THE BEHAVIOUR OF THIS CHART ELEMENT -->
		<script>
			const ctx2 = document.getElementById('classSize7RequirementChart')
		
			const datalist2 = {
				labels: [{% for label in labels %} '{{ label }}', {% endfor %}],
				{% comment %} labels: labels, {% endcomment %}
				datasets: [{
					label: 'Class Size 7 Requirement',
					backgroundColor: [
					'rgb(107,142,35)', //papaya
					'rgb(233, 128, 0)', //mustard
					'rgb(238,130,238)', //aqua
					'rgb(0,206,209)', //blush pink
					'rgb(255, 99, 132)',
					'rgb(54, 162, 235)',
					'rgb(255, 205, 86)',
					'rgb(226, 78, 66)',
				  ],
					{% comment %} borderColor: 'rgb(255, 99, 132)', {% endcomment %}
					data: [{% for value in datavalues2 %} {{ value }}, {% endfor %}],
				}]
			}
			//Here chart is a constructor and we're passing parameters
			const myChart2 = new Chart(
				ctx2,
				{
					type: 'pie',
					data: datalist2,
					options: {}
					}
				  )
		</script>
	
	</div>

{% endblock %}