{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Boxicons -->
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<!-- Latest compiled and minified CSS -->
	
	<!-- My CSS -->
	<link rel="stylesheet" href="{% static 'seas/css/style.css' %}">

	<title>SEAS | Dashboard</title>
</head>
<body>
	{% csrf_token %}

	<!-- SIDEBAR -->
	<section id="sidebar">
		<a href= "dashboard" class="brand">
			<img src="{% static 'seas/images/SEAS Logo.png' %}" width="60px" />
			<span class="text">Student Enrollment Analysis System</span>
		</a>
		<ul class="side-menu top">
			<li class="active">
				<a href="#">
					<i class='bx bxs-dashboard' ></i>
					<span class="text">Dashboard</span>
				</a>
			</li>
			{% comment %} <li>
				<a href="#">
					<i class='bx bxs-doughnut-chart' ></i>
					<span class="text">Classroom Analysis</span>
				</a>
			</li>
			<li>
				<a href="#">
					<i class='bx bxs-doughnut-chart' ></i>
					<span class="text">Revenue Analysis</span>
				</a>
			</li> {% endcomment %}
			<li>
				<a href="/admin/seas">
					<i class='bx bxs-group' ></i>
					<span class="text">Data Entry</span>
				</a>
			</li>
			<li>
				<a href="#">
					<i class='bx bxs-cloud-upload' ></i>
					<span class="text">Upload Tally Sheet</span>
				</a>
			</li>
		</ul>
		<ul class="side-menu">
			<li>
				<a href="logout" class="logout">
					<i class='bx bxs-log-out-circle' ></i>
					<span class="text">Logout</span>
				</a>
			</li>
		</ul>
	</section>
	<!-- SIDEBAR -->



	<!-- CONTENT -->
	<section id="content">
		<!-- NAVBAR -->
		<nav>
			<i class='bx bx-menu' ></i>
			<a href="#" class="nav-link"> </a>
			<form action="#"  style="margin-left: 25%;">
				<div class="form-input">
					<input type="search" placeholder="Search...">
					<button type="submit" class="search-btn"><i class='bx bx-search' ></i></button>
				</div>
			</form>
			<input type="checkbox" id="switch-mode" hidden>
			<label for="switch-mode" class="switch-mode"></label>
			
			<a href="#" class="profile">
				<img src="{% static 'seas/images/img2.png' %}" alt="IMG">
			</a>
			<a href="#" class="text"> <h4>{{ user.username }} </h4> </a>
		</nav>
		<!-- NAVBAR -->

		<!-- MAIN -->
		<main>
			<div class="head-title">
				<div class="left">
					<h1>IUB Resource Summary</h1>
					<ul class="breadcrumb">
						<li>
							<a href="dashboard"> Dashboard </a>
						</li>
						<li><i class='bx bx-chevron-right' ></i></li>
						<li>
							<a class="active" href="dashboard">Home</a>
						</li>
					</ul>
				</div>
			</div>

			<ul class="box-info">
				<li>
					<i class='bx bxs-home' ></i>
					<span class="text">
						<h3> {{school}} </h3>
						<p>Schools</p>
					</span>
				</li>
				<li>
					<i class='bx bxs-home-smile' ></i>
					<span class="text">
						<h3> {{dept}} </h3>
						<p>Departments</p>
					</span>
				</li>
				<li>
					<i class='bx bxs-graduation'></i>
					<span class="text">
						<h3> {{course}} </h3>
						<p>Courses</p>
					</span>
				</li>
				<li>
					<i class='bx bxs-group' ></i>
					<span class="text">
						<h3> {{faculty}} </h3>
						<p>Faculties</p>
					</span>
				</li>
				<li>
					<i class='bx bxs-home-circle' ></i>
					<span class="text">
						<h3> {{classroom}} </h3>
						<p>Classrooms</p>
					</span>
				</li>
			</ul>


			<div class="table-data">
				<div class="order">
					<div class="head">
						<h3 style="text-align:center">Chart Categories</h3>
					</div>
					<table>
						<tbody>
							<tr>
								<td>
									<p>Classroom Requirement (Summary)</p>
								</td>
								<td> <a href="ClassSizeRequirement">
										<span class="status completed"><button class="btn btn-primary btn-lg">Click to See</button></span></td>
									</a>
							</tr>
							<tr>
								<td>
									<p>Class Size Distribution </p>
								</td>
								<td><a href="ClassSizeDistribution">
										<span class="status process"><button class="btn btn-primary btn-lg">Click to See</button></span></td>
									</a>
							</tr>
							<tr>
								<td>
									<p>Usage Of Resources</p>
								</td>
								<td><a href="UsageOfTheResources">
										<span class="status completed"><button class="btn btn-primary btn-lg">Click to See</button></span></td>
									</a>	
							</tr>
							<tr>
								<td>
									<p>IUB Available Resources</p>
								</td>
								<td><a href="UsageOfTheResources">
										<span class="status process"><button class="btn btn-primary btn-lg">Click to See</button></span></td>
									</a>	
							</tr>
							<tr>
								<td>
									<p>Availability And Course Offering Comparison</p>
								</td>
								<td><a href="AvailabilityAndCourseOfferingComparison">
										<span class="status completed"><button class="btn btn-primary btn-lg">Click to See</button></span></td>
									</a>	
							</tr>
							<tr>
								<td>
									<p>Enrollment Breakdown Of Schools </p>
								</td>
								<td><a href="EnrollmentBreakdownOfSchool">
										<span class="status process"><button class="btn btn-primary btn-lg">Click to See</button></span></td>
									</a>	
							</tr>
							<tr>
								<td>
									<p>Revenue Trend of the Schools </p>
								</td>
								<td><a href="RevenueTrendOfTheSchools">
										<span class="status completed"><button class="btn btn-primary btn-lg">Click to See</button></span></td>
									</a>	
							</tr>
							<tr>
								<td>
									<p>Revenue In Engineering School </p>
								</td>
								<td><a href="RevenueInEngineeringSchool">
										<span class="status process"><button class="btn btn-primary btn-lg">Click to See</button></span></td>
									</a>	
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="head">
					
			</div>
		</main>
		<!-- MAIN -->
	</section>
	<!-- CONTENT -->
	<script src ="{% static 'seas/css/script.js' %}"></script>
</body>
</html>