{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login | SEAS</title>
	<meta id="viewport" name="viewport" content ="width=device-width" />
	<link rel="stylesheet" type="text/css" href="{% static 'seas/css/font-awesome.min.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'seas/css/util.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'seas/css/main.css' %}" />
</head>
<body>
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-pic js-tilt" data-tilt>
					<img src="{% static 'seas/images/img-01.png' %}" alt="IMG">
				</div>

				<form style="text-align: center; width: 330px;" action="{% url 'loginpage' %}" method="post">
					{% csrf_token %}
					<span class="login100-form-title">
						Welcome to SEAS
					</span>

					<div class="wrap-input100 validate-input">
						<input class="input100" type="text" name="username" placeholder="Username">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Password is required">
						<input class="input100" type="password" name="password" placeholder="Password">
						<span class="focus-input100"></span>
					</div>
					
					<div class="container-login100-form-btn" >
						<button class="login100-form-btn">
							Login
						</button>
					</div>

					<div class="text-center p-t-12">
						<span class="txt1">
							Forgot
						</span>
						<a class="txt2" href="#" onclick="forgotpassword();">
							Password?
						</a>
						<script>
							function forgotpassword() {
								alert("Please contact the Registrar's Office.");
							}
						</script>
					</div>

					<div class="text-center p-t-136">
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>