{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dashboard | SEAS</title>
    <meta id="viewport" name="viewport" content ="width=device-width" />
    <link rel="stylesheet" type="text/css" href="{% static 'seas/css/font-awesome.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'seas/css/util.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'seas/css/dashboard.css' %}" />
</head>
    <body id="body-pd">
        <header class="header" id="header">
            <div class="header_toggle"> <i class='bx bx-menu' id="header-toggle"></i> </div>
            <div class="header_img"> <img src="{% static 'seas/images/img-01.png' %}" alt="IMG"> </div>
        </header>
        <div class="l-navbar" id="nav-bar">
            <nav class="nav">
                <div> <a href="#" class="nav_logo"> <i class='bx bx-layer nav_logo-icon'></i> <span class="nav_logo-name">SEAS</span> </a>
                    <div class="nav_list"> <a href="#" class="nav_link active"> <i class='bx bx-grid-alt nav_icon'></i> <span class="nav_name">Dashboard</span> </a> <a href="#" class="nav_link"> <i class='bx bx-user nav_icon'></i> <span class="nav_name">Class Size Charts</span> </a> <a href="#" class="nav_link"> <i class='bx bx-message-square-detail nav_icon'></i> <span class="nav_name">Revenue Charts</span> </a> </div>
                </div> <a href="#" class="nav_link"> <i class='bx bx-log-out nav_icon'></i> <span class="nav_name">SignOut</span> </a>
            </nav>
        </div>
        <!--Container Main start-->
        <div class="height-100 bg-light">
            <h4>CHART HERE</h4>
        </div>
        <!--Container Main end-->
    </body>
</html>