{% extends 'chartLayout.html' %}

{% block title %} SEAS | RevenueInEngineeringSchool {% endblock  %}

{% block heading %} Revenue In Engineering School {% endblock  %}

{% block content %} 
{% load static %}
<meta id="viewport" name="viewport" content ="width=device-width" />
<link rel="stylesheet" type="text/css" href="{% static 'seas/css/font-awesome.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'seas/css/util.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'seas/css/main.css' %}" />

<form style="text-align: center; width: 1500px;" action="" method="post">
	{% csrf_token %}
	
	<div class="container-login100-form-btn" >
		<button class="btn btn-primary btn-lg">
			Generate
		</button>
	</div>

</form>
	
	

{% endblock %}