{% extends 'chartLayout.html' %}

{% block title %} SEAS | RevenueInEngineeringSchool {% endblock  %}

{% block heading %} Revenue In Engineering School {% endblock  %}

{% block content %} 
{% load static %}
<meta id="viewport" name="viewport" content ="width=device-width" />
<link rel="stylesheet" type="text/css" href="{% static 'seas/css/font-awesome.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'seas/css/util.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'seas/css/main.css' %}" />

<form style="text-align: center; width: 1550px;" action="" method="post">
	{% csrf_token %}
	
	<ul class="box-info">
        <li>
            <button class="btn btn-primary btn-lg" style="margin-left: 47%;">
                Generate
            </button>
        </li>
    </ul>

</form>
	
<div class="table-data">
    <div class="order"> <h3 style="text-align:center"> Revenue In Engineering School </h3>
        <div>
            <table border="3" cellpadding = "5" cellspacing="5"  style="background-color:#DAEDF4;">
                    
                {% for row in table %}
                    <tr>
                        {% for col in row %}
                            <td style="text-align:center">
                                {{ col }}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                
                
            
            </table>
    
        </div>
    </div>
</div>

<div class="table-data">
    <div class="order"> 
        <h3 style="text-align:center"> Department Wise Revenue In SETS</h3>
    </div>
</div>

<div class="table-data">
    <div  style="background-color:#0c0c1e;">
        
        <canvas id = 'RevenueTrendOfTheSchools' width = "1500" height = "600">

        </canvas>

    </div>
    <!-- THIS IS THE JAVASCRIPT THAT WILL CONTROL THE BEHAVIOUR OF THIS CHART ELEMENT -->
    <script>
        const ctx = document.getElementById('RevenueTrendOfTheSchools')
        
        const datalist = {
            labels: [{% for label in labels %} '{{ label }}', {% endfor %}],
            {% comment %} labels: labels, {% endcomment %}
            datasets: [{
                type: 'line',
                label: 'CSE',
                backgroundColor: [
                'rgb(54, 162, 235, 1)', //standard blue
                ],
                borderColor: 'rgb(255, 99, 132, 1)',
                {% comment %} borderColor: 'rgb(255, 99, 132)', {% endcomment %}
                data: [{% for value in cse %} {{ value }}, {% endfor %}],
            },{
                type: 'line',
                label: 'EEE',
                backgroundColor: [
                'rgb(255, 99, 132, 1)', //standard blue
                ],
                borderColor: 'rgb(75, 192, 192)',
                {% comment %} borderColor: 'rgb(255, 99, 132)', {% endcomment %}
                data: [{% for value in eee %} {{ value }}, {% endfor %}],
            },{
                type: 'line',
                label: 'PS',
                backgroundColor: [
                'rgb(54, 162, 235, 1)', //standard blue
                ],
                borderColor: 'rgb(255, 205, 86)',
                {% comment %} borderColor: 'rgb(255, 99, 132)', {% endcomment %}
                data: [{% for value in ps %} {{ value }}, {% endfor %}],
            }]
        }
        //Here chart is a constructor and we're passing parameters
        const myChart = new Chart(
            ctx,
            {
                type: 'line',
                data: datalist,
                options: {}
                }
              )
    </script>



</div>

<div class="table-data">
    <div class="order"> 
        <h3 style="text-align:center"> Revenue Of SETS </h3>
    </div>
</div>

<div class="table-data">
    <div  style="background-color:#0c0c1e;">
        
        <canvas id = 'RevenueOfSets' width = "1500" height = "600">

        </canvas>

    </div>
    <!-- THIS IS THE JAVASCRIPT THAT WILL CONTROL THE BEHAVIOUR OF THIS CHART ELEMENT -->
    <script>
        const ctx2 = document.getElementById('RevenueOfSets')
        
        const datalist2 = {
            labels: [{% for label in labels %} '{{ label }}', {% endfor %}],
            {% comment %} labels: labels, {% endcomment %}
            datasets: [{
                type: 'line',
                fill: true,
                label: 'EEE',
                backgroundColor: [
                'rgb(54, 162, 235, 1)', //standard blue
              ],
                {% comment %} borderColor: 'rgb(255, 99, 132)', {% endcomment %}
                data: [{% for value in eee %} {{ value }}, {% endfor %}],
            },{
                type: 'line',
                fill: true,
                label: 'CSE',
                backgroundColor: [
                'rgb(255, 205, 86, 1)', //yellow
              ],
                {% comment %} borderColor: 'rgb(255, 99, 132)', {% endcomment %}
                data: [{% for value in cse %} {{ value }}, {% endfor %}],
            },{
                type: 'line',
                fill: true,
                label: 'PS',
                backgroundColor: [
                'rgb(255, 99, 132, 1)', //blush pink
              ],
                {% comment %} borderColor: 'rgb(255, 99, 132)', {% endcomment %}
                data: [{% for value in ps %} {{ value }}, {% endfor %}],
            }]
        }
        //Here chart is a constructor and we're passing parameters
        const myChart2 = new Chart(
            ctx2,
            {
                type: 'line',
                data: datalist2,
                options: {}
                }
              )
    </script>



</div>
<div class="table-data">
    <div class="order"> 
        <h3 style="text-align:center"> CSE Revenue And Change % </h3>
    </div>
</div>

<div class="table-data">
    <div  style="background-color:#0c0c1e;">
        
        <canvas id = 'CSERevenueAndChange' width = "1500" height = "600">

        </canvas>

    </div>
    <!-- THIS IS THE JAVASCRIPT THAT WILL CONTROL THE BEHAVIOUR OF THIS CHART ELEMENT -->
    <script>
        const ctx3 = document.getElementById('CSERevenueAndChange')
        
        const datalist3 = {
            labels: [{% for label in labels %} '{{ label }}', {% endfor %}],
            {% comment %} labels: labels, {% endcomment %}
            datasets: [{
                type: 'line',
                label: 'CSE',
				yAxisID: 'A',
                backgroundColor: ['rgb(231, 255, 10)',],
				borderColor: 'rgb(255, 99, 132, 1)',
                data: [{% for value in cse %} {{ value }}, {% endfor %}],
            },{
                type: 'bar',
                label: 'CSE Change %',
				yAxisID: 'B',
                backgroundColor: [
                'rgb(54, 162, 235, 1)', //yellow
              ],
                {% comment %} borderColor: 'rgb(255, 99, 132)', {% endcomment %}
                data: [{% for value in changeCSE %} {{ value }}, {% endfor %}],
            },{
                type: 'line',
                label: 'CSE (linear)',
                trendlineLinear: {
                    style: "rgb(147, 245, 66)",
                    lineStyle: "dotted",
                    width: 2
                },
                backgroundColor: [
                'rgb(147, 245, 66)', //green
              ],
                {% comment %} borderColor: 'rgb(255, 99, 132)', {% endcomment %}
                data: [{% for value in cse %} {{ value }}, {% endfor %}],
            }]
        }
        //Here chart is a constructor and we're passing parameters
        const myChart3 = new Chart(
            ctx3,
            {
                type: 'scatter',
                data: datalist3,
                options: {
					scales: {
                        A: {
                            display: true,
                            position: 'left',
                            grid: {
                                drawOnChartArea: false, // only want the grid lines for one axis to show up
                            },
                          },
                        B: {
                        display: true,
                        position: 'right',
                        },
						
					}
				}
            }
        )
    </script>



</div>

<div class="table-data">
    <div class="order"> 
        <h3 style="text-align:center"> EEE Revenue And Change % </h3>
    </div>
</div>
<div class="table-data">
    <div  style="background-color:#0c0c1e;">
        
        <canvas id = 'EEERevenueAndChange' width = "1500" height = "600">

        </canvas>

    </div>
    <!-- THIS IS THE JAVASCRIPT THAT WILL CONTROL THE BEHAVIOUR OF THIS CHART ELEMENT -->
    <script>
        const ctx4 = document.getElementById('EEERevenueAndChange')
        
        const datalist4 = {
            labels: [{% for label in labels %} '{{ label }}', {% endfor %}],
            {% comment %} labels: labels, {% endcomment %}
            datasets: [{
                type: 'line',
                label: 'EEE',
				yAxisID: 'A',
                backgroundColor: ['rgb(231, 255, 10)',],
				borderColor: 'rgb(255, 99, 132, 1)',
                data: [{% for value in eee %} {{ value }}, {% endfor %}],
            },{
                type: 'bar',
                label: 'EEE Change %',
				yAxisID: 'B',
                backgroundColor: [
                'rgb(54, 162, 235, 1)', //yellow
              ],
                {% comment %} borderColor: 'rgb(255, 99, 132)', {% endcomment %}
                data: [{% for value in changeEEE %} {{ value }}, {% endfor %}],
            },{ 
                type: 'line',
                label: 'EEE (linear)',
                trendlineLinear: {
                    style: "rgb(147, 245, 66)",
                    lineStyle: "dotted",
                    width: 2
                },
                backgroundColor: [
                'rgb(147, 245, 66)', //green
              ],
                {% comment %} borderColor: 'rgb(255, 99, 132)', {% endcomment %}
                data: [{% for value in eee %} {{ value }}, {% endfor %}],
            }]
        }
        //Here chart is a constructor and we're passing parameters
        const myChart4 = new Chart(
            ctx4,
            {
                type: 'scatter',
                data: datalist4,
                options: {
					scales: {
                        A: {
                            display: true,
                            position: 'left',
                            grid: {
                                drawOnChartArea: false, // only want the grid lines for one axis to show up
                            },
                          },
                        B: {
                        display: true,
                        position: 'right',
                        },
						
					}
				}
            }
        )
    </script>



</div>
<div class="table-data">
    <div class="order"> 
        <h3 style="text-align:center"> PS Revenue And Change % </h3>
    </div>
</div>
<div class="table-data">
    <div  style="background-color:#0c0c1e;">
        
        <canvas id = 'PSRevenueAndChange' width = "1500" height = "600" >

        </canvas>

    </div>
    <!-- THIS IS THE JAVASCRIPT THAT WILL CONTROL THE BEHAVIOUR OF THIS CHART ELEMENT -->
    <script>
        const ctx5 = document.getElementById('PSRevenueAndChange')
        
        const datalist5 = {
            labels: [{% for label in labels %} '{{ label }}', {% endfor %}],
            {% comment %} labels: labels, {% endcomment %}
            datasets: [{
                type: 'line',
                label: 'PS',
				yAxisID: 'A',
                backgroundColor: ['rgb(231, 255, 10)',],
				borderColor: 'rgb(255, 99, 132, 1)',
                data: [{% for value in ps %} {{ value }}, {% endfor %}],
            },{
                type: 'bar',
                label: 'PS Change %',
				yAxisID: 'B',
                backgroundColor: [
                'rgb(54, 162, 235, 1)', //yellow
              ],
                {% comment %} borderColor: 'rgb(255, 99, 132)', {% endcomment %}
                data: [{% for value in changePS %} {{ value }}, {% endfor %}],
            },{
                type: 'line',
                label: 'PS (linear)',
                trendlineLinear: {
                    style: "rgb(147, 245, 66)",
                    lineStyle: "dotted",
                    width: 2
                },
                backgroundColor: [
                'rgb(147, 245, 66)', //green
              ],
                {% comment %} borderColor: 'rgb(255, 99, 132)', {% endcomment %}
                data: [{% for value in ps %} {{ value }}, {% endfor %}],
            }]
        }
        //Here chart is a constructor and we're passing parameters
        const myChart5 = new Chart(
            ctx5,
            {
                type: 'scatter',
                data: datalist5,
                options: {
					scales: {
                        A: {
                            display: true,
                            position: 'left',
                            grid: {
                                drawOnChartArea: false, // only want the grid lines for one axis to show up
                            },
                          },
                        B: {
                        display: true,
                        position: 'right',
                        },
						
					}
				}
            }
        )
    </script>



</div>

{% endblock %}