{% extends 'chartLayout.html' %}

{% block title %} SEAS | RevenueTrendOfTheSchools {% endblock  %}

{% block heading %} Revenue Trend Of The Schools {% endblock  %}

{% block content %} 
{% load static %}
<meta id="viewport" name="viewport" content ="width=device-width" />
<link rel="stylesheet" type="text/css" href="{% static 'seas/css/font-awesome.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'seas/css/util.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'seas/css/main.css' %}" />

<form style="text-align: center; width: 1500px;" action="" method="post">
	{% csrf_token %}
	
	<div class="container-login100-form-btn" >
		<button class="btn btn-primary btn-lg">
			Generate
		</button>
	</div>

</form>

<div class="table-data">
    <div class="order"> <h3 style="text-align:center"> Revenue Of IUB </h3>
        <div>
            <table border="3" cellpadding = "5" cellspacing="5"  style="background-color:#DAEDF4;">
                    
                {% for row in table %}
                    <tr>
                        {% for col in row %}
                            <td style="text-align:center">
                                {{ col }}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                
                
            
            </table>
    
        </div>
    </div>
</div>

<div class="table-data">
    <div>
        <h3 style="text-align:center"> Resource Utilization in {{Semester1}} and {{Semester2}}</h3>
        <canvas id = 'AvailabilityAndCourseOfferingComparisonChart' width = "1500" height = "600">

        </canvas>

    </div>
    <!-- THIS IS THE JAVASCRIPT THAT WILL CONTROL THE BEHAVIOUR OF THIS CHART ELEMENT -->
    <script>
        const ctx = document.getElementById('AvailabilityAndCourseOfferingComparisonChart')
        
        const datalist = {
            labels: [{% for label in labels %} '{{ label }}', {% endfor %}],
            {% comment %} labels: labels, {% endcomment %}
            datasets: [{
                type: 'bar',
                label: 'IUB Resource',
                backgroundColor: [
                'rgb(54, 162, 235, 1)', //standard blue
              ],
                {% comment %} borderColor: 'rgb(255, 99, 132)', {% endcomment %}
                data: [{% for value in iub %} {{ value }}, {% endfor %}],
            },{
                type: 'bar',
                label: '{{Semester1}}',
                backgroundColor: [
                'rgb(255, 205, 86, 1)', //yellow
              ],
                {% comment %} borderColor: 'rgb(255, 99, 132)', {% endcomment %}
                data: [{% for value in datavalues1 %} {{ value }}, {% endfor %}],
            },{
                type: 'bar',
                label: '{{Semester2}}',
                backgroundColor: [
                'rgb(255, 99, 132, 1)', //blush pink
              ],
                {% comment %} borderColor: 'rgb(255, 99, 132)', {% endcomment %}
                data: [{% for value in datavalues2 %} {{ value }}, {% endfor %}],
            }]
        }
        //Here chart is a constructor and we're passing parameters
        const myChart = new Chart(
            ctx,
            {
                type: 'bar',
                data: datalist,
                options: {}
                }
              )
    </script>



</div>
	

{% endblock %}
