{% extends 'chartLayout.html' %}

{% block title %} SEAS | RevenueInEngineeringSchool {% endblock  %}

{% block heading %} Revenue In Engineering School {% endblock  %}

{% block content %} 
{% load static %}
<meta id="viewport" name="viewport" content ="width=device-width" />
<link rel="stylesheet" type="text/css" href="{% static 'seas/css/font-awesome.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'seas/css/util.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'seas/css/main.css' %}" />

<form style="text-align: center; width: 1500px;" action="" method="post">
	{% csrf_token %}
	
	<div class="container-login100-form-btn" >
		<button class="btn btn-primary btn-lg">
			Generate
		</button>
	</div>

</form>
	
<div class="table-data">
    <div class="order"> <h3 style="text-align:center"> Revenue In Engineering School </h3>
        <div>
            <table border="3" cellpadding = "5" cellspacing="5"  style="background-color:#DAEDF4;">
                    
                {% for row in table %}
                    <tr>
                        {% for col in row %}
                            <td style="text-align:center">
                                {{ col }}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                
                
            
            </table>
    
        </div>
    </div>
</div>

<div class="table-data">
    <div>
        <h3 style="text-align:center"> Department Wise Revenue In SETS</h3>
        <canvas id = 'RevenueTrendOfTheSchools' width = "1500" height = "600">

        </canvas>

    </div>
    <!-- THIS IS THE JAVASCRIPT THAT WILL CONTROL THE BEHAVIOUR OF THIS CHART ELEMENT -->
    <script>
        const ctx = document.getElementById('RevenueTrendOfTheSchools')
        
        const datalist = {
            labels: [{% for label in labels %} '{{ label }}', {% endfor %}],
            {% comment %} labels: labels, {% endcomment %}
            datasets: [{
                type: 'line',
                label: 'CSE',
                backgroundColor: [
                'rgb(54, 162, 235, 1)', //standard blue
                ],
                borderColor: 'rgb(255, 99, 132, 1)',
                {% comment %} borderColor: 'rgb(255, 99, 132)', {% endcomment %}
                data: [{% for value in cse %} {{ value }}, {% endfor %}],
            },{
                type: 'line',
                label: 'EEE',
                backgroundColor: [
                'rgb(255, 99, 132, 1)', //standard blue
                ],
                borderColor: 'rgb(75, 192, 192)',
                {% comment %} borderColor: 'rgb(255, 99, 132)', {% endcomment %}
                data: [{% for value in eee %} {{ value }}, {% endfor %}],
            },{
                type: 'line',
                label: 'PS',
                backgroundColor: [
                'rgb(54, 162, 235, 1)', //standard blue
                ],
                borderColor: 'rgb(255, 205, 86)',
                {% comment %} borderColor: 'rgb(255, 99, 132)', {% endcomment %}
                data: [{% for value in ps %} {{ value }}, {% endfor %}],
            }]
        }
        //Here chart is a constructor and we're passing parameters
        const myChart = new Chart(
            ctx,
            {
                type: 'line',
                data: datalist,
                options: {}
                }
              )
    </script>



</div>

<div class="table-data">
    <div>
        <h3 style="text-align:center"> Revenue Of SETS </h3>
        <canvas id = 'RevenueOfSets' width = "1500" height = "600">

        </canvas>

    </div>
    <!-- THIS IS THE JAVASCRIPT THAT WILL CONTROL THE BEHAVIOUR OF THIS CHART ELEMENT -->
    <script>
        const ctx2 = document.getElementById('RevenueOfSets')
        
        const datalist2 = {
            labels: [{% for label in labels %} '{{ label }}', {% endfor %}],
            {% comment %} labels: labels, {% endcomment %}
            datasets: [{
                type: 'line',
                fill: true,
                label: 'EEE',
                backgroundColor: [
                'rgb(54, 162, 235, 1)', //standard blue
              ],
                {% comment %} borderColor: 'rgb(255, 99, 132)', {% endcomment %}
                data: [{% for value in eee %} {{ value }}, {% endfor %}],
            },{
                type: 'line',
                fill: true,
                label: 'CSE',
                backgroundColor: [
                'rgb(255, 205, 86, 1)', //yellow
              ],
                {% comment %} borderColor: 'rgb(255, 99, 132)', {% endcomment %}
                data: [{% for value in cse %} {{ value }}, {% endfor %}],
            },{
                type: 'line',
                fill: true,
                label: 'PS',
                backgroundColor: [
                'rgb(255, 99, 132, 1)', //blush pink
              ],
                {% comment %} borderColor: 'rgb(255, 99, 132)', {% endcomment %}
                data: [{% for value in ps %} {{ value }}, {% endfor %}],
            }]
        }
        //Here chart is a constructor and we're passing parameters
        const myChart2 = new Chart(
            ctx2,
            {
                type: 'line',
                data: datalist2,
                options: {}
                }
              )
    </script>



</div>

<div class="table-data">
    <div>
        <h3 style="text-align:center"> CSE Revenue And Change % </h3>
        <canvas id = 'CSERevenueAndChange' width = "1500" height = "600">

        </canvas>

    </div>
    <!-- THIS IS THE JAVASCRIPT THAT WILL CONTROL THE BEHAVIOUR OF THIS CHART ELEMENT -->
    <script>
        const ctx3 = document.getElementById('CSERevenueAndChange')
        
        const datalist3 = {
            labels: [{% for label in labels %} '{{ label }}', {% endfor %}],
            {% comment %} labels: labels, {% endcomment %}
            datasets: [{
                type: 'line',
                label: 'Total',
				yAxisID: 'A',
                backgroundColor: ['rgb(0,100,0)',],
				borderColor: 'rgb(255, 99, 132, 1)',
                data: [{% for value in cse %} {{ value }}, {% endfor %}],
            },{
                type: 'bar',
                label: 'Change %',
				yAxisID: 'B',
                backgroundColor: [
                'rgb(54, 162, 235, 1)', //yellow
              ],
                {% comment %} borderColor: 'rgb(255, 99, 132)', {% endcomment %}
                data: [{% for value in changeCSE %} {{ value }}, {% endfor %}],
            }]
        }
        //Here chart is a constructor and we're passing parameters
        const myChart3 = new Chart(
            ctx3,
            {
                type: 'scatter',
                data: datalist3,
                options: {
					scales: {
						yAxes: [{
									id: 'A',
									position: 'left',
								},{
									id: 'B',
									position: 'right',
									ticks: {
										max: 100,
										min: -60,
								}
							}]
					}
				}
            }
        )
    </script>



</div>

<div class="table-data">
    <div>
        <h3 style="text-align:center"> EEE Revenue And Change % </h3>
        <canvas id = 'EEERevenueAndChange' width = "1500" height = "600">

        </canvas>

    </div>
    <!-- THIS IS THE JAVASCRIPT THAT WILL CONTROL THE BEHAVIOUR OF THIS CHART ELEMENT -->
    <script>
        const ctx4 = document.getElementById('EEERevenueAndChange')
        
        const datalist4 = {
            labels: [{% for label in labels %} '{{ label }}', {% endfor %}],
            {% comment %} labels: labels, {% endcomment %}
            datasets: [{
                type: 'line',
                label: 'Total',
				yAxisID: 'A',
                backgroundColor: ['rgb(0,100,0)',],
				borderColor: 'rgb(255, 99, 132, 1)',
                data: [{% for value in eee %} {{ value }}, {% endfor %}],
            },{
                type: 'bar',
                label: 'Change %',
				yAxisID: 'B',
                backgroundColor: [
                'rgb(54, 162, 235, 1)', //yellow
              ],
                {% comment %} borderColor: 'rgb(255, 99, 132)', {% endcomment %}
                data: [{% for value in changeEEE %} {{ value }}, {% endfor %}],
            }]
        }
        //Here chart is a constructor and we're passing parameters
        const myChart4 = new Chart(
            ctx4,
            {
                type: 'scatter',
                data: datalist4,
                options: {
					scales: {
						yAxes: [{
									id: 'A',
									position: 'left',
								},{
									id: 'B',
									position: 'right',
									ticks: {
										max: 100,
										min: -100,
								}
							}]
					}
				}
            }
        )
    </script>



</div>
<div class="table-data">
    <div>
        <h3 style="text-align:center"> PS Revenue And Change % </h3>
        <canvas id = 'PSRevenueAndChange' width = "1500" height = "600">

        </canvas>

    </div>
    <!-- THIS IS THE JAVASCRIPT THAT WILL CONTROL THE BEHAVIOUR OF THIS CHART ELEMENT -->
    <script>
        const ctx5 = document.getElementById('PSRevenueAndChange')
        
        const datalist5 = {
            labels: [{% for label in labels %} '{{ label }}', {% endfor %}],
            {% comment %} labels: labels, {% endcomment %}
            datasets: [{
                type: 'line',
                label: 'Total',
				yAxisID: 'A',
                backgroundColor: ['rgb(0,100,0)',],
				borderColor: 'rgb(255, 99, 132, 1)',
                data: [{% for value in ps %} {{ value }}, {% endfor %}],
            },{
                type: 'bar',
                label: 'Change %',
				yAxisID: 'B',
                backgroundColor: [
                'rgb(54, 162, 235, 1)', //yellow
              ],
                {% comment %} borderColor: 'rgb(255, 99, 132)', {% endcomment %}
                data: [{% for value in changePS %} {{ value }}, {% endfor %}],
            }]
        }
        //Here chart is a constructor and we're passing parameters
        const myChart5 = new Chart(
            ctx5,
            {
                type: 'scatter',
                data: datalist5,
                options: {
					scales: {
						yAxes: [{
									id: 'A',
									position: 'left',
								},{
									id: 'B',
									position: 'right',
									ticks: {
										max: 100,
										min: -100,
								}
							}]
					}
				}
            }
        )
    </script>



</div>

{% endblock %}