<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> 
{% extends 'chartLayout.html' %}

{% block title %} SEAS | Upload Tally Sheet {% endblock  %}

{% block heading %} Upload Tally Sheet {% endblock  %}

{% block content %} 
{% load static %}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    
    <ul class="box-info">
			<li>
        <input type="file" name="myfile" class="form-control">                            
        <br/>
        <button type="submit" class="btn btn-success">Upload</button>
      </li>

  </form>
 
    
{% endblock %}