<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> 
{% extends 'chartLayout.html' %}

{% block title %} SEAS | Upload Tally Sheet {% endblock  %}

{% block heading %} Upload Tally Sheet {% endblock  %}

{% block content %} 
{% load static %}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    
    <ul class="box-info">

			<li>
        <input type="file" name="myfile" class="form-control">                            
        <br/>
        <button type="submit" name="upload" class="btn btn-success">Upload</button>
      </li>
    </ul>

    <ul class="box-info">
			<li>
        <h4 style="margin-left: 22%;">Click the button to populate the database with the new tally sheet!</h4>
        <button type="submit" name="populate" class="btn btn-success">Populate Database</button>
      </li>

    </ul>
  </form>
 
    
{% endblock %}